#container {
	width: 80%;
	height: 100%;
	margin-left: auto;
    margin-right: auto;
	min-width: 800px;
	max-width: 1000px;
}

#top-bar {
	height: 
}


.top-bar-left .inline {
	width: 25px;
	height: 25px;
	padding-left: 5px;
	padding-top: 5px;
}

.top-bar-left a{
	text-decoration: none;
}

.top-bar-left {
	width: 50%;
	float: left;
}

.top-bar-right {
	float: right;
}

.top-bar-right img {
	width: 25px;
	height: 25px;

}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
    padding-bottom: 6px;
}

.clearfix{
	clear: both;
}

#titlewrap{
	height: 120px;
	overflow: hidden;
}

.logo {
	float: left;
}

.border{
	border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.125);
}

.logo img {
	-webkit-transform: rotate(-15deg);
	display: block;
	border:1px solid silver;

}

.logodown {
	text-align: center;
}

.ml4{
	margin-left: 4rem;
}
.title {
	float: left;
    width: 50%;
}
#titlewrap .border-bottom {
	padding-bottom: 20px;
}
.title img{
	margin-left: 300px
}

.titledown {
	padding-bottom: 10px;
	margin-left: 245px;
	text-align: center;
}

.dan {
	margin-left: 10px;
}

.kl {
	margin-left: 10px;
}

.bar-right{
	float: left;
	margin-left: 265px;
}	
.bar-right-up a{
	text-decoration: none;
	margin-left: 10px;
}
.list li{
	display: inline;
	padding: 15px;
}

.list li a{
	text-decoration: none;
	color: black;
}

.border-double{
	border-bottom: 2px solid black;
}

.z3{
	z-index: 3;
}

.left-bar{
	width: 25%;
	float: left;
}

.up a{
	text-decoration: none;
	color: lightgray;
}
.vest{
	width: 250px
	
}
.vest a{
	color: black;
	font-family: 'Roboto Slab',serif;
    line-height: 1.3;
    text-decoration: none;
    font-size: 32px;
}

.autor h6{
	color: lightgray;
	font-family: arial,sans-serif;
	font-size: 10px;
}

.autor{
	width: 200px;
	display: inline;
}

.autor a{
	text-decoration: none;
	font-size: 10px;
	font-family: arial,sans-serif;
	color: lightgray;

}

.text h5{
	font-size: 1rem;
}
.clearfix{
	clear: both;
	float: none;
}
.center{
	float: left;
	width: 50%;
	margin-top: 30px;
}

.suptitle{
	margin-top: 13px;
    margin-bottom: 30px;
    text-decoration: none;
}

.suptitle a{
	text-decoration: none;
	color: lightgray;
}
.title{
	margin-left: 20px;
}
.title a{
	text-decoration: none;
	color: black;
}
.main-text{
	margin-top: 7px;
	margin-left: 20px;
	width: 394px;
}

.main-text h5{
	font-size: 1rem;
    line-height: 1.5;
}

.right-bar{
	width: 25%;
	float: left;
}

.news1{
	margin-top: 30px;
}

.pic-left{
	float: left;
}

.subtitle1{
	float: left;
	margin-left: 15px;
	margin-top: 
}

.subtitle1 h6{
	margin-top: 2px;
}
.subtitle1 a{
	text-decoration: none;
}

.box-pic{
	float: left;
	width: 166px;
}

.pick-up{
	margin-top: 15px;
}

.pick-up img{
	margin-left: 1px;
	margin-right: 60px;
}

.line{
	border-top: 1px solid black;
    text-align:center;
	margin-top:20px;
}
.line span{
	background:white;
	position:relative;
	top:-12px;
	padding-right: 20px;
    padding-left: 20px;
    font-weight: 700;
    font-size: .875rem;
    font-family: Georgia,Times,'Times New Roman',serif;
}

.box2{
	float: left;
	width: 25%;
}
.pick-left {
	float: left;
}

.suptitle{
	overflow: hidden;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
}

.uppercase{
	text-transform: uppercase;
}

.h6{
	font-size: .75rem;
}

.light-gray{
	    color: #676767;
}
.naslov{
	font-family: 'Roboto Slab',serif;
    line-height: 1.3;
    display: block;
    font-size: 19px;
    font-weight: 900;
    margin-top: 3px;
}
.naslov a{
	text-decoration: none;
	color: black;
}
.text-right {
	width:113px; 
	float: left;
	margin-left: 10px;
}

.four-pick {
	height: 130px;
}

.row1{
	float: left;
	width: 25%;
}

.border-left{
	border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(0,0,0,.125);
}

.date-time{
	float: left;
    font-size: 10px;
    margin-left: 80px;
}
.under-pick .suptitle{
	float: left;
}
.item-date{
	margin-left: 17px;
}
.intro-text{
	margin-top: 15px;
	margin-right: 15px;
}
.row1 .suptitle{
	float: left;
}
 .h4{
	font-size: 20px;
    margin-top: 37px;
}
.row-left.row2{
	
	width: 25%;
}
.row-left.row2.suptitle{
	float: left;
}
.row-left{
	float: left;
	width: 25%
}
.row2 .suptitle{
	float: left;
}
.row-right{
	float: left;
	width: 25%;
}
.row-right .row3 .suptitle{
	float: left;
}
.content-world{
	height: 650px;
}
.content-p .row1{
	width: 50%;
}
.content-p .row1 .date-time{
	position: relative;
	top: 30%;
	left: 50%;
}
.content-p .naslov {
	width: 111%;
}
.content-p .intro-text{
	width: 106%;
}
.right-box{
	float: left;
    width: 21%;
    margin-left: 21px;
}
.right-box .date-time{
	float: left;
    font-size: 10px;
    margin-left: 80px;
    position: relative;
    top: -13px;
    left: 6%;
}
.right-boxS{
	float: left;
	width: 25%;
	margin-left:19px;
}
.right-boxS .intro-text{
	margin-bottom: 16px;
}
.content-p{
	height: 600px;
}
.content-d .naslov{
	font-size: 15px;
    margin-top: 13px;
    margin-bottom: 17px;
}
.box-right{
	width: 33%;
	float: left;
}
.box-right .img-left{
	float: left;
	margin-right: 10px;
}
.box-center{
	width: 33%;
	float: left;
	margin-left: 15px;
}
.box-center .img-left{
	float: left;
	margin-right: 15px;
}
.box-baner{
	width: 0%;
	height: 340px;
}
.box-baner .baner{
	margin-left: 15px;
}
.content-e{
	height: 655px;
}
.content-e .right-box{
	margin-left: 27%;
}
.content-e .row1 .naslov{
	width: 199%;
}
.content-e .row1 .under-pick .date-time{
	position: relative;
    left: 106%;
    top: -15x;
}
.content-e .row1 .intro-text{
	width: 188%;
}
.content-x .pickUp{
	width: 96%;
}
.content-x .under-pick{
	float: left;
	margin-bottom: 12px;
}
.content-x{
	height: 365px;
}
.content-r .pickUp{
	width: 96%;
}
.content-r{
	height: 446px;
}
.content-srbija{
	height: 390px;
}
